@use '../breakpoints';

.wrapSearchArtistPage{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: green;
    padding: 0 50px;
}

@media screen and (max-width: breakpoints.$breakpoint-s) {
    .wrapSearchArtistPage{
        padding: 0 20px;
    }
}