@use 'breakpoints';

nav{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 50px;

    ul{
        list-style: none;

        .mobileBar{
            display: none;
        }
        li{
            display: flex;
            width: fit-content;
            font-size: 1.4rem;
            font-weight: 700;
            margin: 10px 0;
            line-height: 50px;
            letter-spacing: 2px;
            text-transform: uppercase;
            cursor: pointer;
            height: 50px;
            color:green;
            background-color: black;
            border-radius: 0 50px 50px 0;
            transform: translateX(calc(-100% + 55px));
            transition: .5s;
            z-index: 10;
            


            .iconWrap{
                height: 100%;
                margin: 0 15px 0 10px;
                display: flex;
                align-items: center;
            }

            a{  
                display: block;
                padding-left: 10px;
                color: green;
                text-decoration: none;
                
            }
        }

        .menuItem{
            &:hover{
                transform: translateX(0);
                box-shadow: 3px 3px 5px 0 green;
            }
        }

        li.selected{
            background-color: green;
            color: black;
            &:hover{
                transform: translateX(calc(-100% + 55px));
            }
            a{
                color: black;
            }
        }
    }
}

@media screen and (max-width: breakpoints.$breakpoint-m) {
    nav{
        width: 100%;
        margin-top: 0;
        ul{
            width: 100%;
            li{
                width: 100%;
                transform: translateX(-100%);
                border-radius: 0;
                text-align: center;
                justify-content: center;
                line-height: normal;
                height: fit-content;
                padding: 15px;
                margin: 0;
                .iconWrap{
                    display: none;
                }

                &:hover{
                    box-shadow: none;
                }
            }

            .mobileBar{
                display: flex;
            }

            .hide{
                justify-content: flex-end;
                transform: translateX(calc(-100% + 50px));
            }

            .show{
                justify-content: flex-end;
                transform: translateX(0);
            }

            .menuItem{
                justify-content: center;
            }
            .menuItem.hide{
                transform: translateX(-100%);
            }
        }
    }
}