@use '../breakpoints';

.reccWrap{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: green;
    padding-top: 0;
    .titleWrap{
        text-align: center;
        width: 100%;
        padding: 10px 0;
        background-color: green;
        border-radius: 0 0 50% 50%;
        color: black;
        box-shadow: 0 0px 10px 5px green;
        h3{
            font-size: 4rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 700;
        }
    }
}

@media screen and (max-width: breakpoints.$breakpoint-s) {
    .reccWrap{
        .titleWrap{
            h3{
                font-size: 3rem;
                letter-spacing: 0;
            }
        }
    }
}

@media screen and (max-width: breakpoints.$breakpoint-xs) {
    .reccWrap{
        .titleWrap{
            h3{
                font-size: 2rem;
                letter-spacing: 0;
            }
        }
    }
}